asgiref==3.6.0
certifi==2022.12.7
chardet==3.0.4
Django==3.2.18
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
Pillow==9.4.0
pkg-resources==0.0.0
psycopg2==2.9.5
python-dotenv==0.21.1
python-gettext==4.1
pytz==2022.7.1
rfc3986==1.5.0
sniffio==1.3.0
sqlparse==0.4.3
typing-extensions==4.5.0
whitenoise==6.3.0
